{
  "printWidth": 100,
  "tabWidth": 2,
  "parser": "typescript",
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "never"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
